* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.home, .membership, .events, .contact-us, .physiotherapy, .sign-up, .payment, .payment-success {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.home {
  background-image: url('images/gym2opacity.JPG');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.contact-us {
  background-image: url('images/gym3opacity.JPG');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "title title title title title title title title"
    "none none none none none none none none"
    ". . hours hours hours hours . ."
    ". . email email email email . ."
    ". . . address address . . ."
    "map map map map map map map map";
    align-items: start;
}

.membership {
  background-image: url('images/gym4opacity50.JPG');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 200px;
  grid-template-areas:
    "title title title title title title title title"
    "none none none none none none none none"
    ". . option1 option1 option1 option1 . ."
    ". . option2 option2 option2 option2 . ."
    ". . option3 option3 option3 option3 . .";
  align-items: start;
}

.events {
  background-image: url('images/deadlift2opacity50.JPG');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "title title title title title title title title"
    ". . tagline tagline tagline tagline . ."
    ". . events events events events . .";
  align-items: start;
}

.payment {
  background-image: url('images/gym4opacity50.JPG');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sign-up {
  flex-direction: column;
  background-image: url('images/deadlift2opacity50.JPG');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.physiotherapy {
  background-image: url('images/squat3opacity.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.navbar {
  grid-area: navbar;
  margin-bottom: 0;
}

.navbar-logo {
  width: 25%;
  height: auto;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.heading-container {
  background: #303030;
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-size: 3rem;
  padding-top: 25px;
}

.button1 {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #000000;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  color: #000000;
  text-align: center;
  transition: all 0.2s;
  font-size: 2rem;
}

.button1:hover {
  color: #ffffff;
  background-color: #000000;
}

/* MEMBERSHIP PAGE */
h1 {
  margin-bottom: -23px;
}

h3 {
  font-size: 2.5rem;
}

p {
  font-size: 1.75rem;
}

.membership-option {
  display: flex;
  flex-direction: row;
  margin: 40px auto;
  border: 0.02em solid #000000;
  border-radius: 0.12em;
  margin: 0.3em;
  padding: 0.3em;
  opacity: 85%;
  transition: all 0.2s;
  height: 20vh;
  align-content: center;
  justify-content: center;
}

.membership-option:hover {
  background: #F8F8F8;
  opacity: 100%;
}

.membership-title {
  grid-area: title;
}

.option1 {
  grid-area: option1;
}

.option2 {
  grid-area: option2;
}

.option3 {
  grid-area: option3;
}

.membership-img {
  margin-right: 100px;
  align-self: center;
}

.membership-desc {
  align-self: center;
}

/* EVENTS PAGE */

.event-title {
  grid-area: title;
}

.event-tagline {
  grid-area: tagline;
  text-align: center;

}

.upcoming-events-container {
  grid-area: events;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.event-card {
  justify-content: center;
}

.event-card-body {
  border: 0.02em solid #000000;
  border-radius: 0.12em;
  margin: 0.3em;
  padding: 0.3em;
  opacity: 85%;
  transition: all 0.2s;
}

.event-card-body:hover {
  background: #F8F8F8;
  opacity: 100%;
}

/* Hiding the child element 'EventSignup' on the Events page to pass data to it */
.hidden {
  display: none;
}

/* SIGNUP FORM PAGE */

label {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
  width: 500px;
  line-height: 16px;
  font-size: 1.7rem;
  padding: 10px 0 10px 0;
}

input {
  height: 35px;
  flex: 0 0 300px;
  margin-left: 30px;
}

#payment-form {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 50px;
}

/* CONTACT US PAGE  */

.contact-title {
  grid-area: title;
}

.contact-coaching-hours {
  grid-area: hours;
  text-align: center;
}

.contact-address {
  grid-area: address;

  display: flex;
  justify-content: center;

  text-align: center;
}

.contact-email {
  grid-area: email;

  text-align: center;
  display: flex;
  justify-content: center;
}

.contact-map {
  grid-area: map;

  display: flex;
  justify-content: center;
}
