* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.home, .membership, .events, .contact-us, .physiotherapy, .sign-up, .payment, .payment-success {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.home {
  background-image: url('images/gym2opacity.JPG');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.contact-us {
  background-image: url('images/gym3.JPG');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.membership {
  background-image: url('images/gym4opacity50.JPG');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 200px;
  grid-template-areas:
    "title title title title title title title title"
    "none none none none none none none none"
    ". . option1 option1 option1 option1 . ."
    ". . option2 option2 option2 option2 . ."
    ". . option3 option3 option3 option3 . .";
  align-items: start;
}

.events {
  background-image: url('images/deadlift2opacity50.JPG');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.payment {
  background-image: url('images/gym4opacity50.JPG');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sign-up {
  flex-direction: column;
  background-image: url('images/deadlift2opacity50.JPG');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.physiotherapy {
  background-image: url('images/squat3.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.navbar {
  grid-area: navbar;
  margin-bottom: 0;
}

.navbar-logo {
  width: 25%;
  height: auto;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.heading-container {
  background: #ffffff;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  padding-top: 50px;
}

.button1 {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #000000;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  color: #000000;
  text-align: center;
  transition: all 0.2s;
  font-size: 2rem;
}

.button1:hover {
  color: #ffffff;
  background-color: #000000;
}

/* MEMBERSHIP PAGE */


h3 {
  font-size: 2.5rem;
}

p {
  font-size: 1.75rem;
}

.membership-option {
  display: flex;
  flex-direction: row;
  margin: 40px auto;
}

.membership-title {
  grid-area: title;
}

.option1 {
  grid-area: option1;
}

.option2 {
  grid-area: option2;
}

.option3 {
  grid-area: option3;
}

.membership-img {
  margin-right: 100px;
  align-self: center;
}

/* EVENTS PAGE */
.upcoming-events-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.event-card {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

/* Hiding the child element 'EventSignup' on the Events page to pass data to it */
.hidden {
  display: none;
}

/* SIGNUP FORM PAGE */

label {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
  width: 500px;
  line-height: 16px;
  font-size: 1.7rem;
  padding: 10px 0 10px 0;
}

input {
  height: 35px;
  flex: 0 0 300px;
  margin-left: 30px;
}

#payment-form {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 50px;
}

/* .signup-form-confirm {
  grid-column-start: 2;
  grid-column-end: 4;
} */
